body {
  background: #234;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

#app {
  background-color: #678;
  padding: 8px;
  height: fit-content;
  min-height: 100vh;
  min-width: 350px;
  max-width: 1024px;
  margin: 0px auto;
  box-shadow: 0 0 0px 1px #000;
}
#app>*{
  margin: 8px 0;
  border: 1px solid #000;
}
#app>*{
  font-size: 100%;
}
#app .title, #app .subtitle {
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid transparent;
}

#app .subtitle{
  background: #eee;
  border: 1px solid #000;
  color:#222;
  margin: -1px;
  z-index: 2;
  justify-content: center;
}

#app .readonly .subtitle, #app .disabled .subtitle{
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255,255,255, 0.5);
}
#app .disabled .subtitle{
  color: rgba(0, 0, 0, 0.2);
}

.subtitle>span {
  transform: rotate(-90deg);
  font-size: 100%; 
}

