body {
  background: #234;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

#app {
  background-color: #678;
  padding: 8px;
  height: fit-content;
  min-height: 100vh;
  min-width: 350px;
  max-width: 1024px;
  margin: 0px auto;
  box-shadow: 0 0 0px 1px #000;
}
#app>*{
  margin: 8px 0;
  border: 1px solid #000;
}
#app>*{
  font-size: 100%;
}
#app .title, #app .subtitle {
  xdisplay: flex;
  xjustify-content: start;
  align-items: center;
  xtext-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid transparent;
  justify-content:space-between;
  grid-template-columns:auto auto;
  display: grid;
}

#app .subtitle{
  background: #ddd;
  border: 1px solid #000;
  color:#222;
  margin: -1px;
  z-index: 2;
  
}

#app .readonly .subtitle, #app .disabled .subtitle{
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255,255,255, 0.5);
}
#app .disabled .subtitle{
  color: rgba(0, 0, 0, 0.2);
}

div.subtitle>span {
  transform: rotate(-90deg);
  font-size: 100%; 
}

a {
  color:#fff;
  xtext-transform: none;
  xtext-decoration: none;
  font-size: 70%;
}

div.subtitle div, div.title div {
  padding: 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 70%;
}

