body {
  background: #678;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select:none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 10px;
  font-weight: bolder;
}

#app {
  background-color: #678;
  padding: 8px;
  height: fit-content;
  xmin-height: 100vh;
  min-width: 100px;
  max-width: 1024px;
  margin: 0px auto;
}
#app>*{
  margin: 8px 0;
  border: 1px solid #000;
}

#app .title {
  font-size: 120%;
}
#app .title, #app .subtitle {
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid transparent;
  justify-content:space-between;
  grid-template-columns:auto auto;
  display: grid;
}

#app .subtitle{
  background: #ddd;
  border: 1px solid #000;
  color:#222;
  margin: -1px;
  z-index: 2;
}

#app .readonly .subtitle, #app .disabled .subtitle{
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255,255,255, 0.5);
}
#app .disabled .subtitle{
  color: rgba(0, 0, 0, 0.2);
}

div.subtitle>span {
  transform: rotate(-90deg);
  width: 16px;
  height: 16px;
  overflow:visible;
  margin-top: 8px;
}

a {
  color:#fff;
}
div.subtitle *, div.title * {
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
div.subtitle * {
  padding: 0 4px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-left: -1px;
  border: 1px solid #000;
  xbackground: #eee;
  transition: background 0.2s, color 0.2s;
  padding: 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 4px;
}

button:active {
  background: rgba(0,0,0,0.2);
  color: #fff;
  transition: all 0s;
}